

{ 	
    "extends": [ 		
        "prettier", 		
        "prettier/standard", 		
        "prettier/react", 		
        "eslint:recommended", 		
        "plugin:react/recommended" 	
    ], 	
    "plugins": ["prettier", "react"], 	
    "rules": { 		
        "prettier/prettier": "error", 		
        "no-debugger": "error", 		
        "no-console": "warn", 		
        "no-unused-vars": "warn", 		
        "react/boolean-prop-naming": [ 			
            "warn", 			
            { 				
                "rule": "^(is|has)[A-Z]([A-Za-z0-9]?)+" 			
            } 		
        ], 		
        "react/no-access-state-in-setstate": "warn", 		
        "react/no-array-index-key": "error", 		
        "react/no-danger": "error", 		
        "react/no-deprecated": "error", 		
        "react/no-did-mount-set-state": "error", 		
        "react/no-did-update-set-state": "error", 		
        "react/no-will-update-set-state": "error", 		
        "react/no-direct-mutation-state": "error", 		
        "react/no-find-dom-node": "error", 		
        "react/no-is-mounted": "error", 		
        "react/no-multi-comp": [ 			
            "error", 			
            { 				
                "ignoreStateless": true 			
            } 		
        ], 		     
        "react/no-redundant-should-component-update": "error", 		
        "react/no-string-refs": "error", 		
        "react/no-this-in-sfc": "error", 		
        "react/no-unescaped-entities": "error", 		
        "react/no-unknown-property": "error", 		
        "react/no-unsafe": "warn", 		
        "react/no-unused-prop-types": "warn", 		
        "react/no-unused-state": "warn", 		
        "react/prefer-es6-class": "error", 		
        "react/prop-types": "error", 		
        "react/react-in-jsx-scope": "error", 		
        "react/require-render-return": "error", 		
        "react/self-closing-comp": "warn", 		
        "react/sort-comp": [ 			
            "warn", 			
            { 				
                "order": ["static-methods", "lifecycle", "everything-else", "render"], 				
                "groups": { 					
                    "lifecycle": [ 						
                        "displayName", 						
                        "propTypes", 						
                        "contextTypes", 						
                        "childContextTypes", 						
                        "mixins", 						
                        "statics", 						
                        "defaultProps", 						
                        "constructor", 						
                        "getDefaultProps", 						
                        "state", 						
                        "getInitialState", 						
                        "getChildContext", 						
                        "getDerivedStateFromProps", 						
                        "componentWillMount", 						
                        "UNSAFE_componentWillMount", 						
                        "componentDidMount", 						
                        "componentWillReceiveProps", 						
                        "UNSAFE_componentWillReceiveProps", 						
                        "shouldComponentUpdate", 						
                        "componentWillUpdate", 						
                        "UNSAFE_componentWillUpdate", 						
                        "getSnapshotBeforeUpdate", 						
                        "componentDidUpdate", 						
                        "componentDidCatch", 						
                        "componentWillUnmount" 					
                    ] 				
                } 			
            } 		
        ], 		
        "react/style-prop-object": "error", 		
        //*** JSX-specific rules ***// 		
        "react/jsx-boolean-value": ["error", "always"], 		
        "react/jsx-curly-spacing": [ 			
            "warn", 			
            { 				
                "when": "never", 				
                "children": true 			
            } 		
        ], 		
        "react/jsx-equals-spacing": ["warn", "never"], 		
        "react/jsx-filename-extension": [ 			
            "error", 			
            { 				
                "extensions": [".jsx"] 			
            } 		
        ], 		
        "react/jsx-first-prop-new-line": ["warn", "multiline"], 		
        "react/jsx-handler-names": "error", 		
        "react/jsx-key": "warn", 		
        "react/jsx-no-duplicate-props": "error", 		
        "react/jsx-no-undef": "error", 		
        "react/jsx-pascal-case": "error", 		
        "react/jsx-props-no-multi-spaces": "warn", 		
        "react/jsx-uses-vars": "error" 	
    }, 	
    "parser": "babel-eslint", 	
    "parserOptions": { 		
        "ecmaVersion": 6, 		
        "sourceType": "module", 		
        "ecmaFeatures": { 			
            "jsx": true, 		
            "modules": true, 			
            "experimentalObjectRestSpread": true 		
        } 	
    }, 	
    "env": { 		
        "browser": true, 		
        "es6": true 	
    }, 	
    "settings": { 		
        "react": { 			
            "pragma": "React", 			
            "version": "detect" 		
        }, 	
        "import/resolver": {    
            "node": {        
                "moduleDirectory": ["node_modules", "src/"]      
            }    
        }  
    }, 	
    "globals": { 		
        "Atomics": "readonly", 		
        "SharedArrayBuffer": "readonly", 		
        "process": "writable", 		
        "require": "writable" 	
    }, 	
    "overrides": [     
        { 			
            "files": [ 				
                "**/*.spec.js", 				
                "**/*.spec.jsx", 				
                "**/*.test.js", 				
                "**/*.test.jsx" 			
            ], 			
            "env": { 				
                "jest": true, 				
                "node": true, 				
                "commonjs": true, 				
                "browser": true, 				
                "es6": true, 				
                "amd": true 			
            } 		
        } 	
    ] 
}

